demo/Connected Services/ServiceReference1/iPaiWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTokenResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBill">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonString" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ComStr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBillResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBillResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTokenSoapIn">
    <wsdl:part name="parameters" element="tns:GetToken" />
  </wsdl:message>
  <wsdl:message name="GetTokenSoapOut">
    <wsdl:part name="parameters" element="tns:GetTokenResponse" />
  </wsdl:message>
  <wsdl:message name="GetBillSoapIn">
    <wsdl:part name="parameters" element="tns:GetBill" />
  </wsdl:message>
  <wsdl:message name="GetBillSoapOut">
    <wsdl:part name="parameters" element="tns:GetBillResponse" />
  </wsdl:message>
  <wsdl:portType name="iPaiWebServiceSoap">
    <wsdl:operation name="GetToken">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">GetToken</wsdl:documentation>
      <wsdl:input message="tns:GetTokenSoapIn" />
      <wsdl:output message="tns:GetTokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBill">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">GetToken</wsdl:documentation>
      <wsdl:input message="tns:GetBillSoapIn" />
      <wsdl:output message="tns:GetBillSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="iPaiWebServiceSoap" type="tns:iPaiWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetToken">
      <soap:operation soapAction="http://tempuri.org/GetToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBill">
      <soap:operation soapAction="http://tempuri.org/GetBill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="iPaiWebServiceSoap12" type="tns:iPaiWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetToken">
      <soap12:operation soapAction="http://tempuri.org/GetToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBill">
      <soap12:operation soapAction="http://tempuri.org/GetBill" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="iPaiWebService">
    <wsdl:port name="iPaiWebServiceSoap" binding="tns:iPaiWebServiceSoap">
      <soap:address location="http://localhost:10775/iPaiWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="iPaiWebServiceSoap12" binding="tns:iPaiWebServiceSoap12">
      <soap12:address location="http://localhost:10775/iPaiWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>