WebApi/Web References/localhost/TestWebServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="LoginPlayer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PassWord" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserHostAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserAgent" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginPlayerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginPlayerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryPlayer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PassWord" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryPlayerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryPlayerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DepositPlayerMoney">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PassWord" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DepositPlayerMoneyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DepositPlayerMoneyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WithdrawPlayerMoney">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PassWord" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WithdrawPlayerMoneyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WithdrawPlayerMoneyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBrandCompletedGameResults">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="starTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="endTime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBrandCompletedGameResultsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBrandCompletedGameResultsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginPlayerSoapIn">
    <wsdl:part name="parameters" element="tns:LoginPlayer" />
  </wsdl:message>
  <wsdl:message name="LoginPlayerSoapOut">
    <wsdl:part name="parameters" element="tns:LoginPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="QueryPlayerSoapIn">
    <wsdl:part name="parameters" element="tns:QueryPlayer" />
  </wsdl:message>
  <wsdl:message name="QueryPlayerSoapOut">
    <wsdl:part name="parameters" element="tns:QueryPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="DepositPlayerMoneySoapIn">
    <wsdl:part name="parameters" element="tns:DepositPlayerMoney" />
  </wsdl:message>
  <wsdl:message name="DepositPlayerMoneySoapOut">
    <wsdl:part name="parameters" element="tns:DepositPlayerMoneyResponse" />
  </wsdl:message>
  <wsdl:message name="WithdrawPlayerMoneySoapIn">
    <wsdl:part name="parameters" element="tns:WithdrawPlayerMoney" />
  </wsdl:message>
  <wsdl:message name="WithdrawPlayerMoneySoapOut">
    <wsdl:part name="parameters" element="tns:WithdrawPlayerMoneyResponse" />
  </wsdl:message>
  <wsdl:message name="GetBrandCompletedGameResultsSoapIn">
    <wsdl:part name="parameters" element="tns:GetBrandCompletedGameResults" />
  </wsdl:message>
  <wsdl:message name="GetBrandCompletedGameResultsSoapOut">
    <wsdl:part name="parameters" element="tns:GetBrandCompletedGameResultsResponse" />
  </wsdl:message>
  <wsdl:portType name="TestWebServicesSoap">
    <wsdl:operation name="LoginPlayer">
      <wsdl:input message="tns:LoginPlayerSoapIn" />
      <wsdl:output message="tns:LoginPlayerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryPlayer">
      <wsdl:input message="tns:QueryPlayerSoapIn" />
      <wsdl:output message="tns:QueryPlayerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DepositPlayerMoney">
      <wsdl:input message="tns:DepositPlayerMoneySoapIn" />
      <wsdl:output message="tns:DepositPlayerMoneySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WithdrawPlayerMoney">
      <wsdl:input message="tns:WithdrawPlayerMoneySoapIn" />
      <wsdl:output message="tns:WithdrawPlayerMoneySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBrandCompletedGameResults">
      <wsdl:input message="tns:GetBrandCompletedGameResultsSoapIn" />
      <wsdl:output message="tns:GetBrandCompletedGameResultsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TestWebServicesSoap" type="tns:TestWebServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoginPlayer">
      <soap:operation soapAction="http://tempuri.org/LoginPlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryPlayer">
      <soap:operation soapAction="http://tempuri.org/QueryPlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DepositPlayerMoney">
      <soap:operation soapAction="http://tempuri.org/DepositPlayerMoney" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WithdrawPlayerMoney">
      <soap:operation soapAction="http://tempuri.org/WithdrawPlayerMoney" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBrandCompletedGameResults">
      <soap:operation soapAction="http://tempuri.org/GetBrandCompletedGameResults" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TestWebServicesSoap12" type="tns:TestWebServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoginPlayer">
      <soap12:operation soapAction="http://tempuri.org/LoginPlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryPlayer">
      <soap12:operation soapAction="http://tempuri.org/QueryPlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DepositPlayerMoney">
      <soap12:operation soapAction="http://tempuri.org/DepositPlayerMoney" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WithdrawPlayerMoney">
      <soap12:operation soapAction="http://tempuri.org/WithdrawPlayerMoney" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBrandCompletedGameResults">
      <soap12:operation soapAction="http://tempuri.org/GetBrandCompletedGameResults" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TestWebServices">
    <wsdl:port name="TestWebServicesSoap" binding="tns:TestWebServicesSoap">
      <soap:address location="http://localhost:40693/TestWebServices.asmx" />
    </wsdl:port>
    <wsdl:port name="TestWebServicesSoap12" binding="tns:TestWebServicesSoap12">
      <soap12:address location="http://localhost:40693/TestWebServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>